<div class="row">
  <div class="text-center">
    <h1>CHOOSE YOUR FAVORITE HAIKU</h1>
  </div>

  <div id='compare_haikus'>
  </div>
  <div class="row text-center">
    <%= button_to "These Are Both Terrible", comparison_path, method:'get', class:'btn btn-warning'%>
  </div>
</div>


<%= render 'show_handlebars' %>
