<div class="row">
  <div class="text-center">
    <h1>CHOOSE YOUR FAVORITE HAIKU</h1>
  </div>

  <div id='compare_haikus'>
  </div>
  <div class="row text-center">
    <a href="/haikus/comparison.json" data-remote="true" class='btn btn-warning get-haikus'>These Are Both Terrible</a>
  </div>
</div>


<%= render 'show_handlebars' %>

<%= javascript_include_tag 'comparison'%>
