<p id="notice"><%= notice %></p>

<h1>Top Haikus</h1>

<div class="row text-center">
  <% @haikus.each do |haiku| %>
    <div class="col-xs-2">
      <p>
        <%= haiku.likes %> likes
      </p>
      <p>
        <%= render partial: 'show', locals:{haiku: haiku} %>
      </p>
      <p>
        <!-- Refactor to view object -->
        <%if haiku.user_id == 1%>
          Computer Generated
        <%else%>
          Human Crafted
        <% end %>
      </p>
    </div>
  <% end %>
</div>
