<h1>About</h1>

<h2>This site was built by Avi Turkewitz</h2>

<p>
  As I build this site I am finishing a coding bootcamp programing at The Flatiron School. I wanted to take a few hours to focus on a fairly simple project to get some extra practicing working with Ruby and Rails.
</p>
<p>
  If you're interested in learing some more about Ruby, web development, or coding bootcamps, check out my blog! <a href="http://aturkewi.github.io/" target=_>You Break It, You Learn It</a>. You can also feel free to get in touch with me at <a href="mailto:aviturkewitz@gmail.com?subject=pick-a-haiku" target=_>aviturkewitz@gmail.com</a>
</p>
